<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員登入</title>
    <style>
      body {
        margin: 0;
        box-sizing: border-box;
        background-color: lightgray;
      }

      h1 {
        margin: 0;
      }
      #container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 250px;
        width: 100%;
      }
      #postMember {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 100%;
        justify-content: center;
        background-color: rgb(192, 252, 192);
        border-radius: 10%;
      }

      #postMember form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #postMember input {
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 1.2rem;
      }

      .button {
        font-size: 1.2rem;
        height: 30px;
        width: 75px;
        border-radius: 20px;
        background-color: rgb(205, 231, 253);
      }

      .button:hover {
        background-color: rgb(255, 255, 255);
      }
      .button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <div id="postMember">
        <h1>會員登入系統</h1>
        <form method="post" action="/stepbrothers/login" name="login">
          <input type="text" name="account" placeholder="Account" />
          <input type="password" name="password" placeholder="Password" />
          <div class="button-container">
            <a href=""><button class="button" type="button">註冊</button></a>
            <button class="button" type="submit">登入</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
